
streamlit

tqdm
numpy
matplotlib
torch
torchvision
torchtext
torchaudio
PyHamcrest
bs4
boto3
pandas
requests
scikit-image
scipy
pillow==8.2.0
wget
gym
gym-super-mario-bros==7.3.0
timm